* { 
    margin: 0;
    padding: 0;
}

body {
    background-color: #012;
    font-family: "Lekton", monospace;
    line-height: 1.15;
}

#app {
    margin: 1em auto;
    width: 80%;
}

h1, h2 {
    color: #369;

    font-family: "Share Tech Mono", monospace;
    font-weight: normal;
    text-transform: uppercase;
}

.panel {
    border: 1px solid #135;
    border-radius: 5px;
    margin-bottom: 1em;
}

div#slider {
    padding: 1em 0;
}

div#status {
    padding: 1em;
    color: #fff;
}

div#contacts {
    padding: 1em;
    color: #fff;

    height: 600px;
    overflow-y: auto;
}

div#contacts h2 {
    margin-bottom: 0.5em;
}

div.contact-entry {
    display: grid;
    grid-template-columns: 3em auto;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

div.contact-meta {
    display: flex;
    align-items: baseline;
    gap: 2em;
}

.contact-class, .contact-name {
    font-size: 1.25em;
    font-weight: 700;
}

.contact-type {
    padding: 0.25em 0.5em;
    border-radius: 5px;
    font-family: "Share Tech Mono", monospace;
    font-size: 0.8em;
    text-transform: uppercase;
}

.contact-detail {
    color: #aaa;
}

.band-active {
    border-radius: 5px;
    background-color: #33669920;
}

canvas {
    display: block;
    margin: 0 auto;
}